

<!-- Hero Section Begin -->
<section class="hero-section" style="height: 500px;">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" style="background-image: url('assets/gallery/back-1.jpg');">
            <div class="container" >
                <div class="row">
                    <div class="col-lg-8 col-md-8  stream-window">
                        <!-- <iframe class="ifram-video-window" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe> -->
                        <iframe class="ifram-video-window"  src="https://www.youtube.com/embed/JfJvbmeZcxE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                        <div class="item-text">
                            <h5>Hafza Tezz Karne Wala Amal.. | Maulana Syed Ali Raza Rizvi | 8K</h5>
                            <span>120K views•8 Aug 2020</span>
                            <span style="float: right;">
                                <i class="fa fa-heart"></i> 349  <i class="fa fa-share"></i> 33 
                            </span>
                        </div>
                    </div>
                    <!-- <div class="col-lg-1 col-md-1 offset "> -->

                    <!-- </div> -->
                    <div class="col-lg-4 col-md-4 all-list">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-lg-5 item-text">
                                <img src="assets/gallery/back.jpg" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 pl-0">
                                <div class="item-text">
                                    <h5>Khuda Haafiz Title Track</h5>
                                    <span>Vishal Dadlani - Khuda Haafiz</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>

    </div>
</section>
<!-- Hero Section End -->